@page "/"


<PageTitle>Home</PageTitle>

<h1>Object detection using Machine learning</h1>

<p>
    Upload an image to use the Object detection demo. The machine-learned ML.Net model will detect <em>Stop signs</em> and
    display bounding boxes around each stop sign in the image. The stop sign is trained to use those used as traffic signs in United States
    along streets and roads.
</p>

<div class="container">
  
    <div class="row align-items-start">
        <div class="col">

            <label><b>Select a picture to run stop sign object detection</b></label><br />
            <InputFile OnChange="@OnInputFile" accept=".jpeg,.jpg,.png" />
            <br />
            <code class="alert-secondary">Supported file formats: .jpeg, .jpg and .png</code>
            <br />
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <img src="@UploadedImagePreview" alt="Image to detect stop signs" class="img-fluid" />
        </div>
    </div>

</div>
